<a href="https://colab.research.google.com/github/harshgupta9723/CommonLit_Readability/blob/main/CommonLit_Readability.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
project_data = pd.read_csv("/content/drive/MyDrive/kaggle/CommonLit/train.csv")
project_data.head()

          id url_legal  ...    target standard_error
0  c12129c31       NaN  ... -0.340259       0.464009
1  85aa80a4c       NaN  ... -0.315372       0.480805
2  b69ac6792       NaN  ... -0.580118       0.476676
3  dd1000b26       NaN  ... -1.054013       0.450007
4  37c1b32fb       NaN  ...  0.247197       0.510845

[5 rows x 6 columns]

In [ ]:
project_data.sort_values('target')

             id  ... standard_error
1705  4626100d8  ...       0.623621
1128  493b80aa7  ...       0.571404
1754  fe44cbd14  ...       0.644398
1752  284eaa5ad  ...       0.603819
1720  9e9eacb49  ...       0.606822
...         ...  ...            ...
1066  016913371  ...       0.599600
1014  7a1d484be  ...       0.606997
808   8f35441e3  ...       0.624776
981   849971671  ...       0.596349
2829  25ca8f498  ...       0.646900

[2834 rows x 6 columns]

In [ ]:
# analyse the difference between low taget value excerpt and high target value excerpt

project_data['excerpt'].iloc[0] # first element

'When the young people returned to the ballroom, it presented a decidedly changed appearance. Instead of an interior scene, it was a winter landscape.\nThe floor was covered with snow-white canvas, not laid on smoothly, but rumpled over bumps and hillocks, like a real snow field. The numerous palms and evergreens that had decorated the room, were powdered with flour and strewn with tufts of cotton, like snow. Also diamond dust had been lightly sprinkled on them, and glittering crystal icicles hung from the branches.\nAt each end of the room, on the wall, hung a beautiful bear-skin rug.\nThese rugs were for prizes, one for the girls and one for the boys. And this was the game.\nThe girls were gathered at one end of the room and the boys at the other, and one end was called the North Pole, and the other the South Pole. Each player was given a small flag which they were to plant on reaching the Pole.\nThis would have been an easy matter, but each traveller was obliged to wear snowshoes.'

In [ ]:
project_data['excerpt'].iloc[-1]

'Animals are made of many cells. They eat things and digest them inside. Most animals can move. Only animals have brains (though not even all animals do; jellyfish, for example, do not have brains).\nAnimals are found all over the earth. They dig in the ground, swim in the oceans, and fly in the sky.\nHumans are a type of animal. So are dogs, cats, cows, horses, frogs, fish, and so on and on.\nAnimals can be divided into two main groups, vertebrates and invertebrates. Vertebrates can be further divided into mammals, fish, birds, reptiles, and amphibians. Invertebrates can be divided into arthropods (like insects, spiders, and crabs), mollusks, sponges, several different kinds of worms, jellyfish â€” and quite a few other subgroups. There are at least thirty kinds of invertebrates, compared to the five kinds of vertebrates. Vertebrates have a backbone, while invertebrates do not.'